(*.elc
*~
nxhtml/etc/schema/xhtml-loader.rnc
tramp
ac-comphist.dat
private.el
.DS_Store
ede-projects.el
local-settings.el
custom.el
elpa
eshell
bookmarks
url
flycheck-init.el
/recentf
/.last-package-update-day
/workspace
/eclipse.jdt.ls