[submodule "coffee-mode"]
path = coffee-mode
url = git://github.com/defunkt/coffee-mode.git

[submodule "cucumber.el"]
path = cucumber.el
url = git://github.com/michaelklishin/cucumber.el.git

[submodule "rhtml"]
path = rhtml
url = git://github.com/eschulte/rhtml.git

[submodule "scss-mode"]
path = scss-mode
url = git://github.com/antonj/scss-mode.git

[submodule "yaml-mode"]
path = yaml-mode
url = git://github.com/yoshiki/yaml-mode.git
[submodule "ensime"]
	path = ensime
	url = git://github.com/aemoncannon/ensime.git
[submodule "php-mode"]
	path = php-mode
	url = git://github.com/ejmr/php-mode.git
[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "circe"]
	path = circe
	url = git://github.com/jorgenschaefer/circe.git
[submodule "scala-mode2"]
	path = scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "multi-web-mode"]
	path = multi-web-mode
	url = git://github.com/fgallina/multi-web-mode.git
[submodule "powerline"]
	path = powerline
	url = git://github.com/dparnell/powerline.git
[submodule "popup-el"]
	path = popup-el
	url = git@github.com:auto-complete/popup-el.git
[submodule "flymake-easy"]
	path = flymake-easy
	url = git@github.com:purcell/flymake-easy.git
[submodule "flymake-jslint"]
	path = flymake-jslint
	url = https://github.com/purcell/flymake-jslint
