[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "powerline"]
	path = powerline
	url = git://github.com/dparnell/powerline.git
[submodule "emacs-minimap"]
	path = emacs-minimap
	url = https://github.com/kperusko/emacs-minimap.git
