[submodule "cucumber.el"]
path = cucumber.el
url = git://github.com/michaelklishin/cucumber.el.git

[submodule "ensime"]
	path = ensime
	url = git://github.com/aemoncannon/ensime.git
[submodule "php-mode"]
	path = php-mode
	url = git://github.com/ejmr/php-mode.git
[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "circe"]
	path = circe
	url = git://github.com/jorgenschaefer/circe.git
[submodule "ecb"]
	path = ecb
	url = git://github.com/emacsmirror/ecb.git
[submodule "scala-mode2"]
	path = scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "powerline"]
	path = powerline
	url = git://github.com/dparnell/powerline.git
[submodule "popup-el"]
	path = popup-el
	url = git://github.com/auto-complete/popup-el.git
[submodule "flymake-easy"]
	path = flymake-easy
	url = git://github.com/purcell/flymake-easy.git
[submodule "flymake-jslint"]
	path = flymake-jslint
	url = git://github.com/purcell/flymake-jslint
[submodule "slime"]
	path = slime
	url = https://github.com/slime/slime.git
[submodule "emacs-minimap"]
	path = emacs-minimap
	url = https://github.com/kperusko/emacs-minimap.git
[submodule "dockerfile-mode"]
	path = dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "multi-web-mode"]
	path = multi-web-mode
	url = https://github.com/fgallina/multi-web-mode.git

[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
